
.pad{
    padding: 20px 18%;
}
.reto{
    margin:0 2% 0 0;

}
.fondoCard{
    background-color: #353a40;
    color:white;
}
.padCard{
    padding:20px 0 0;
}
.botonFinal{
    background-color: #96c93e;
    color: white;
    height: 65px;
    
}
.botonFinal span{
    font-size: 1.8rem;

}
.fondoCard .card-body .card-title{
    font-size: 2rem;
}
.card-text{
    font-size: 1.1rem;
}
.aloha{
    background: linear-gradient(rgba(5,7,12,0.4),rgba(5,7,12,0.4)),url("imagenes/ba1.jpg") center center no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;   
}
.te{
    color: white;
    width: 30%;
    position: absolute;
    left: 63%;
    top: 50%;
}
.hola ul li a{
    color:white;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.hola {
    padding-right: 5%;
    justify-content: end;
    
}

.caja1{
    display: inline-block;
    margin-left: 45%;
}
.caja2{
    display: inline-block;
    margin-left: 1%;
    color:white;
}
.barra1{
    background-color:#353a40;
    
}
.botoncito{
    background-color:#27a844;
    color:white;
}
.caja p{
    color:white;
    
}
.hola ul li a span{
    color:#25a842;
    
}

.barra2{
    background-color:#1f4d67;
    align-items: center;
}
.bordesBarra{
    margin-top: 10px;
    padding: 0;
}
.hola2 {
    padding-right: 0;
    justify-content: center;   
}
.hola2 ul li a{
    color: white;
    margin: 0;
    width: 7vw;
    height: 5vh;
    margin:0 55px;
    padding:10px 10px;
    text-align: center;
}
.dibu{
    padding-right: 1px;
}
.container p{
    margin: 1% 0 0;
    padding: 0;
    display: inline-block;
}
.container h2{
    
    margin: 0;
    padding: 0;
}

.x1{
    text-align: start;
    padding: 0 0 2%;
}
.padform{
    padding: 1% 0 0;
}
